@import '../global/mixins.scss';

/*******************************
    Global
********************************/

body {
    margin: 0;
    font-family: serif;
    background-color: var(--bg-primary);
    background: linear-gradient(to bottom, rgba(45, 43, 69, 0) 0%, rgb(45, 43, 69) 10%);
  }