<header class="oriental-header">
    <div class="landscape imagination"></div>
    <div class="landscape reality"></div>
  
    <div class="central-orb-svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800">
        <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="cccloud-grad">
            <stop stop-color="hsla(202, 77%, 50%, 0.27)" offset="0%"></stop>
            <stop stop-color="hsla(51, 19%, 86%, 0.67)" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g fill="url(#cccloud-grad)" stroke-width="30" stroke="hsla(202, 36%, 45%, .25)">
          <path d="M 486.38742944208116 215.4450313707921 
          A 30 40 0 1 1 497.12043003262033 450.26177227559515 
          A 40 30 0 0 1 258.37696335078533 447.38219895287955 
          A 30 40 0 0 1 252.87957364227134 216.49214420019018 
          A 40 30 0 0 1 486.38742944208116 215.4450313707921 Z"
              stroke-linecap="round"
              stroke-linejoin="miter"
              fill="url(#cccloud-grad)"
              stroke="hsla(202, 36%, 45%, 0.25)"
              stroke-width="40"/>
        </g>
      </svg>
      
        <div class="orb-text vertical-zh">东方意境</div>
        <a href="@@prefix/public/index.html"><h1 class="orb-text title">Oriental<br>Mood</h1></a>
      </div>
      
  
    <div class="lower-section">
      <div class="illustration"></div>
      <p class="caption">Harmony between Nature and Humanity</p>
    </div>
  
    <div class="side-label left">Imagination</div>
    <div class="side-label right">Reality</div>
  </header>
  