<div class="invisibleEl"></div>

<nav class="nav nav--top">
    <div class="nav--inner">
        <div id="navstrip" align="left">&nbsp;<a href="@@prefix/public/index.html">down bad</a> 
            <a href="@@prefix/public/webpage.html">guidebook</a> 
            <a href="@@prefix/public/profile.html">my profile</a>
            <a href="@@prefix/public/usercp/user-edit.html">edit profile</a>
            <button title="Switch Accounts" onClick="toggleMenu(this)" class="button--menu memOnly" data-menu=".nav--switcher">switch accounts</button>
        </div>
    </div>
</nav>